.msr-filled {
    font-family: 'Material Symbols Rounded';
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
}

.msr-empty {
    font-family: 'Material Symbols Rounded';
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
}

html {
    --odd-color: rgba(255, 128, 0, 0.8);
    --even-color: rgba(255, 196, 0, 0.8);
    --df-color: rgb(255, 151, 81);
    --dp-color: rgba(0, 0, 0, 0.7);
    user-select: none;
}

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    cursor: default;
    background-color: rgba(218, 121, 23, 0.2);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &::-webkit-scrollbar {
        width: 5px;
        height: 3px;
        background: #505050;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #a0a0a0;
        border-radius: 90px;
        transition: ease 0.4s;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--df-color);
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .title {
        font-size: 130px;
        font-weight: 800;
        & img {
            height: 74px;
            border-radius: 90px;
            overflow: visible;
            -webkit-overflow: visible;
        }
    }
    & .undertext {
        font-size: 22px !important;
        font-weight: 700;
        font-style: italic;
        text-align: center;
        margin-bottom: 25px;
    }
}

.separation {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    margin-top: 10px;
    & div {
        font-size: 50px;
        font-weight: 700;
        margin-top: 0%;
    }
    & .bef, .aft {
        border-radius: 90px;
        padding: 3px;
        width: 100%;
    }
    & .bef {
        background-image: linear-gradient(240deg, #7a7a7a 60%, #00000000);
    }
    & .aft {
        background-image: linear-gradient(90deg, #7a7a7a 60%, #00000000);
    }
}

section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
    & .block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        & .title {
            margin-left: 5px;
            font-size: 36px;
            font-weight: 700;
        }
        & .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            background-color: #6161611f;
            padding: 10px;
            border-radius: 15px;
            & .write {
                outline: none;
                background-color: #6464642f;
                border: 2px solid #7a7a7a46;
                border-radius: 10px;
                padding: 5px 8px;
                color: #000000;
                font-weight: 600;
                font-size: 28px;
                transition: ease 0.2s;
                resize: none;
                width: calc(100% - 20px);
                font-family: 'poppins';
                caret-color: rgb(0, 0, 0);
                &:focus {
                    border: 2px solid #7a7a7a !important;
                    border-radius: 10px !important;
                }
                &:hover {
                    border: 2px solid #7a7a7aa6;
                    border-radius: 15px;
                }
            }
            & .top-values-sld {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 15px 0 15px;
                font-weight: 700;
                font-size: 30px;
            }
            & .slider {
                display: flex;
                flex-direction: row;
                appearance: none;
                border-radius: 90px;
                height: 28px;
                margin-bottom: 10px;
                background-color: #7a7a7a46;
            }
            & .slider::-webkit-slider-thumb {
                appearance: none;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: rgb(255, 165, 104);
                cursor: pointer;
            }
            & .selector {
                border-radius: 10px;
                outline: none;
                padding: 5px 8px;
                color: #000000;
                font-weight: 700;
                font-size: 32px;
                width: 100%;
                background-color: #6464642f;
                border: 2px solid #7a7a7a46;
                transition: ease 0.2s;
                &:focus {
                    border: 2px solid #7a7a7a !important;
                    border-radius: 10px !important;
                }
                &:hover {
                    border: 2px solid #7a7a7aa6;
                    border-radius: 15px;
                }
            }
            & .checkbox {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                gap: 10px;
                & label {
                    background-color: #6464642f;
                    padding: 5px 10px;
                    border-radius: 10px;
                    font-size: 30px;
                    font-weight: 600;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border: 2px solid #7a7a7a46;
                    transition: ease 0.2s;
                    &:focus {
                        border: 2px solid #7a7a7a !important;
                        border-radius: 10px !important;
                    }
                    &:hover {
                        border: 2px solid #7a7a7aa6;
                        border-radius: 15px;
                    }
                }
                & input[type="checkbox"] {
                    height: 30px;
                    width: 30px;
                }
            }
            & .dater {
                background-color: #6464642f;
                border: 2px solid #7a7a7a46;
                border-radius: 10px;
                padding: 6px 8px 2px 8px;
                font-weight: 600;
                font-size: 28px;
                transition: ease 0.2s;
                width: calc(100% - 20px);
                font-family: 'poppins';
                &:focus {
                    border: 2px solid #7a7a7a !important;
                    border-radius: 10px !important;
                    outline: #00000000;
                }
                &:hover {
                    border: 2px solid #7a7a7aa6;
                    border-radius: 15px;
                }
            }
            & .numbered {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                & input {
                    background-color: #6464642f;
                    padding: 5px 10px;
                    border-radius: 10px;
                    font-size: 28px;
                    font-weight: 600;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border: 2px solid #7a7a7a46;
                    transition: ease 0.2s;
                    font-family: 'poppins';
                    &:focus {
                        border: 2px solid #7a7a7a !important;
                        border-radius: 10px !important;
                        outline: #00000000;
                    }
                    &:hover {
                        border: 2px solid #7a7a7aa6;
                        border-radius: 15px;
                    }
                }
                & div {
                    font-size: 28px;
                    font-weight: 600;
                }
            }
            & .url {
                background-color: #6464642f;
                padding: 5px 10px;
                border-radius: 10px;
                font-size: 28px;
                font-weight: 600;
                width: calc(100% - 20px);
                display: flex;
                align-items: center;
                gap: 10px;
                border: 2px solid #7a7a7a46;
                transition: ease 0.2s;
                font-family: 'poppins';
                &:focus {
                    border: 2px solid #7a7a7a !important;
                    border-radius: 10px !important;
                    outline: #00000000;
                }
                &:hover {
                    border: 2px solid #7a7a7aa6;
                    border-radius: 15px;
                }
            }
        }
    }
}