html {
    --odd-color: rgba(255, 128, 0, 0.8);
    --even-color: rgba(255, 196, 0, 0.8);
    --df-color: rgb(255, 151, 81);
    --dp-color: rgba(0, 0, 0, 0.7);
    user-select: none;
}

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    cursor: default;
    background-color: rgba(218, 121, 23, 0.2);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &::-webkit-scrollbar {
        width: 5px;
        height: 3px;
        background: #505050;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #a0a0a0;
        border-radius: 90px;
        transition: ease 0.4s;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--df-color);
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .title {
        font-size: 100px;
        font-weight: 800;
        & img {
            height: 59px;
            overflow: visible;
            -webkit-overflow: visible;
        }
    }
    & .undertext {
        font-size: 22px !important;
        font-weight: 700;
        font-style: italic;
        text-align: center;
        margin-bottom: 25px;
        width: 90%;
    }
}

.separation {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    margin-top: 10px;
    & div {
        font-size: 50px;
        font-weight: 700;
        margin-top: 0%;
    }
    & .bef, .aft {
        border-radius: 90px;
        padding: 3px;
        width: 100%;
    }
    & .bef {
        background-image: linear-gradient(240deg, #7a7a7a 60%, #00000000);
    }
    & .aft {
        background-image: linear-gradient(90deg, #7a7a7a 60%, #00000000);
    }
}

section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
    & .block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        & .title {
            margin-left: 5px;
            font-size: 36px;
            font-weight: 700;
        }
        & .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            background-color: #6161611f;
            padding: 10px;
            border-radius: 15px;
        }
    }
    & .conteneur {
        display: flex;
        flex-direction: column;
        width: 100%;
        & .head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            & .title {
                margin-left: 5px;
                font-size: 36px;
                font-weight: 700;
            }
        }
        & .cards {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 30px !important;
            background-color: #6161611f;
            padding: 10px;
            border-radius: 15px;
            gap: 10px;
            & .card {
                display: flex;
                flex-direction: column;
                border-radius: 15px;
                width: calc(100% - 20px);
                background-color: #6161611f;
                gap: 5px;
                padding: 10px;
                border: #6363635e solid 2px;
                & .titler {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 7px;
                    & .ins {
                        margin-left: 5px;
                        font-size: 34px;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        & img {
                            height: 30px !important;
                            transform: rotateZ(-90deg);
                            background-color: #00000000 !important;
                        }
                    }
                }
                & .contenenrt {
                    display: flex;
                    flex-direction: column;
                    & .org {
                        margin-top: 10px;
                        margin-left: 5px;
                        font-size: 30px;
                        font-weight: 700;
                    }
                    & .mall {
                        display: flex;
                        flex-direction: column;
                        padding: 5px;
                        background-color: #6161611f;
                        width: calc(100% - 10px);
                        border-radius: 15px;
                    }
                }
            }
        }
    }
    & .write {
        outline: none;
        background-color: #6464642f;
        border: 2px solid #7a7a7a46;
        border-radius: 10px;
        padding: 5px 8px;
        color: #000000;
        font-weight: 600;
        font-size: 28px;
        transition: ease 0.2s;
        resize: none;
        width: calc(100% - 20px);
        font-family: 'poppins';
        caret-color: rgb(0, 0, 0);
        &:focus {
            border: 2px solid #7a7a7a !important;
            border-radius: 10px !important;
        }
        &:active {
            border: 2px solid #7a7a7aa6;
            border-radius: 15px;
        }
    }
    & .top-values-sld {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px 0 20px;
        font-weight: 700;
        font-size: 30px;
    }
    & .slider {
        display: flex;
        flex-direction: row;
        appearance: none;
        border-radius: 90px;
        height: 28px;
        margin-bottom: 10px;
        background-color: #7a7a7a46;
    }
    & .slider::-webkit-slider-thumb {
        appearance: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgb(255, 165, 104);
        cursor: pointer;
        transition: ease 0.2s;
    }
    & .slider::-webkit-slider-thumb:active {
        width: 60px;
        height: 60px;
        background: rgba(255, 164, 104, 0.75);
    }
    & .selector {
        border-radius: 10px;
        outline: none;
        padding: 5px 8px;
        color: #000000;
        font-weight: 700;
        font-size: 32px;
        width: 100%;
        background-color: #6464642f;
        border: 2px solid #7a7a7a46;
        transition: ease 0.2s;
        display: flex;
        align-items: center;
        &:focus {
            border: 2px solid #7a7a7a !important;
            border-radius: 10px !important;
        }
        &:active {
            border: 2px solid #7a7a7aa6;
            border-radius: 15px;
        }
    }
    & .checkbox {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 10px;
        & label {
            background-color: #6464642f;
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 30px;
            font-weight: 600;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            border: 2px solid #7a7a7a46;
            transition: ease 0.2s;
            &:focus {
                border: 2px solid #7a7a7a !important;
                border-radius: 10px !important;
            }
            &:active {
                border: 2px solid #7a7a7aa6;
                border-radius: 15px;
            }
        }
        & input[type="checkbox"] {
            height: 30px;
            width: 30px;
        }
    }
    & .numbered {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        & input {
            background-color: #6464642f;
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 28px;
            font-weight: 600;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            border: 2px solid #7a7a7a46;
            transition: ease 0.2s;
            font-family: 'poppins';
            &:focus {
                border: 2px solid #7a7a7a !important;
                border-radius: 10px !important;
                outline: #00000000;
            }
            &:active {
                border: 2px solid #7a7a7aa6;
                border-radius: 15px;
            }
        }
        & .dived {
            background-color: #6464642f;
            padding: 7px 20px 3px 20px;
            border-radius: 10px;
            font-size: 28px;
            font-weight: 600;
            border: 2px solid #7a7a7a46;
            transition: ease 0.2s;
            font-family: 'poppins';
            width: auto;
        }
    }
    & .url {
        background-color: #6464642f;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 28px;
        font-weight: 600;
        width: calc(100% - 20px);
        display: flex;
        align-items: center;
        gap: 10px;
        border: 2px solid #7a7a7a46;
        transition: ease 0.2s;
        font-family: 'poppins';
        &:focus {
            border: 2px solid #7a7a7a !important;
            border-radius: 10px !important;
            outline: #00000000;
        }
        &:active {
            border: 2px solid #7a7a7aa6;
            border-radius: 15px;
        }
    }
    & .timer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        & .dater {
            background-color: #6464642f;
            border: 2px solid #7a7a7a46;
            border-radius: 10px;
            padding: 6px 8px 2px 8px;
            font-weight: 600;
            font-size: 28px;
            transition: ease 0.2s;
            width: calc(100% - 20px);
            font-family: 'poppins';
            &:focus {
                border: 2px solid #7a7a7a !important;
                border-radius: 10px !important;
                outline: #00000000;
            }
            &:active {
                border: 2px solid #7a7a7aa6;
                border-radius: 15px;
            }
        }
        & .setdate-today {
            background-color: #6464642f;
            padding: 5px 20px;
            border-radius: 10px;
            font-size: 28px;
            font-weight: 600;
            border: 2px solid #7a7a7a46;
            transition: ease 0.2s;
            font-family: 'poppins';
            &:active {
                border: 2px solid #7a7a7aa6;
                border-radius: 15px;
            }
        }
    }
}

.del {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
    font-size: 34px;
    font-weight: 700;
    gap: 10px;
    transition: ease 0.2s;
    padding: 2px 10px 2px 15px;
    border-radius: 90px;
    border: rgba(116, 116, 116, 0.4) solid 2px;
    background-color: rgba(158, 158, 158, 0.2);
    &:active {
        background-color: rgba(255, 164, 104, 0.6);
        border: rgb(247, 136, 62) solid 2px;
    }
    & img {
        height: 38px !important;
        transform: rotate(45deg);
    }
}

& .adder {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
    font-size: 34px;
    font-weight: 700;
    gap: 10px;
    margin-right: 7.5px;
    transition: ease 0.2s;
    padding: 2px 10px 2px 15px;
    border-radius: 90px;
    border: rgba(116, 116, 116, 0.4) solid 2px;
    background-color: rgba(158, 158, 158, 0.2);
    &:active {
        background-color: rgba(255, 164, 104, 0.6);
        border: rgb(247, 136, 62) solid 2px;
    }
    & img {
        height: 33px !important;
    }
}

.validate {
    display: flex;
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 75px;
    background-color: rgba(255, 126, 40, 0.6);
    border: 4px solid rgb(54, 54, 54);
    padding: 4px 20px;
    border-radius: 90px;
    transition: ease 0.2s;
    cursor: pointer;
    &:active {
        border: 4px solid rgba(172, 112, 71, 0);
        background-color: rgba(255, 126, 40);
        transform: scale(1.02);
    }
}

.ns {
    transition: ease 0.6s;
    z-index: -9 !important;
    opacity: 0 !important;
    height: 0px !important;
}
.volet {
    z-index: 9;
    transition: ease 0.6s;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 101%;
    height: 100%;
    background-color: #3b3b3bfd;
    bottom: 0;
    opacity: 1;
    overflow: hidden;
    & .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1% 2% 1% 2%;
        width: 96%;
        & .ttl {
            font-size: 40px;
            color: aliceblue;
            font-weight: 600;
        }
    }
    & .sep {
        padding: 3px;
        width: 95%;
        background-color: #505050;
        border-radius: 90px;
    }
    & .window {
        height: 100%;
        width: calc(97% - 30px);
        background-color: #272727;
        margin-bottom: 1%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 15px;
        align-items: center;
        & .general {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            & .grd {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                background-color: #3b3b3b00;
                box-shadow: 2px 2px 5px #00000000;
                padding: 0;
                width: 100%;
            }
            & div {
                justify-content: center;
                display: flex;
                background-color: #3b3b3bfd;
                width: calc(100% - 40px);
                height: fit-content;
                border-radius: 15px;
                box-shadow: 2px 2px 5px #000000;
                padding: 5px 20px;
                font-size: 32px;
                font-weight: 500;
                color: aliceblue;
                gap: 10px;
                text-align: center;
                & span {
                    color: rgb(255, 151, 81);
                }
            }
        }
        & .items {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            & .item {
                display: flex;
                flex-direction: column;
                background-color: #3b3b3bfd;
                width: calc(100% - 40px);
                height: fit-content;
                border-radius: 15px;
                box-shadow: 2px 2px 5px #000000;
                padding: 5px 20px;
                font-size: 32px;
                font-weight: 500;
                color: aliceblue;
                & .ttl {
                    font-size: 34px;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    & img {
                        height: 30px !important;
                        transform: rotateZ(-90deg);
                        background-color: #00000000 !important;
                    }
                }
                & span {
                    color: rgb(255, 151, 81);
                }
            }
        }
        & .copybtn {
            display: flex;
            font-size: 40px;
            font-weight: 600;
            margin-top: 20px;
            background-color: rgba(255, 126, 40, 0.7);
            border: 4px solid rgb(255, 126, 40);
            padding: 4px 20px;
            border-radius: 90px;
            transition: ease 0.2s;
            cursor: pointer;
            &:active {
                border: 4px solid rgba(172, 112, 71, 0);
                background-color: rgba(255, 126, 40);
                transform: scale(1.02);
            }
        }
    }
}